<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="static/images/favicon.png">
    
    <!-- JavaScript
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    {% endblock %}
    <title>
        {% block title %}{% endblock %}- ForeXcast
    </title> 
</head> 

<body>

    <div class="container">
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-link">
                    <a class="navbar-link" href="home">Home</a>
                    <a class="navbar-link" href="sentiment">Sentiment</a>
                </li>
            </ul>
        </nav>
        <section class="header">
            <div class="full column" style="margin-top: 5%">
                <h2 class="title">ForeXcast</h2>
            </div>        
        </section>

        {% block body %}
        {% endblock %} 
    </div>
</body>
</html>
