{% extends "main_layout.html" %}
{% block title %}Sentiment{% endblock %}
{% block body %}
<style>
    .chart_long div {
        font: 10px sans-serif;
        background-color: steelblue;
        text-align: right;
        padding: 3px;
        margin: 1px;
        color: white;
    }
    .chart_short div {
        font: 10px sans-serif;
        background-color: red;
        text-align: right;
        padding: 3px;
        margin: 1px;
        color: white;
    }
</style>

<div class="docs-section" id="sentiment">
    <h4 class="docs-header">TRADER SENTIMENT</h4>
    <hr>
    <!-- SENTIMENT -->
    <div class="row">   
        <!-- IG MARKETS -->
        <div class="three columns"> 
            <h5>IG MARKETS</h5>
            <!-- USD/JPY -->
            <div class="chart_long">
                <h6>USD/JPY</h6>
                <div style="width: {{ ig_usd_jpy_long }}px;">{{ ig_usd_jpy_long }}%</div>
            </div>    
            <div class="chart_short">
                <div style="width: {{ ig_usd_jpy_short }}px;">{{ ig_usd_jpy_short }}%</div>
            </div>
            <br>
            <!-- EUR/USD -->    
            <div class="chart_long">
                <h6>EUR/USD</h6>
                <div style="width: {{ ig_eur_usd_long }}px;">{{ ig_eur_usd_long }}%</div>
            </div>
            <div class="chart_short">
                <div style="width: {{ ig_eur_usd_long }}px;">{{ ig_eur_usd_short }}%</div>
            </div>  
            <br> 
            <!-- GBP/USD -->
            <div class="chart_long">
                <h6>GBP/USD</h6>
                <div style="width: {{ ig_gbp_usd_long }}px;">{{ ig_gbp_usd_long }}%</div>
            </div>
            <div class="chart_short">
                <div style="width: {{ ig_gbp_usd_short }}px;">{{ ig_gbp_usd_short }}%</div>
            </div>
            <br>
            <!-- AUD/USD -->
            <div class="chart_long">
                <h6>AUD/USD</h6>
                <div style="width: {{ ig_aud_usd_long }}px;">{{ ig_aud_usd_long }}%</div>
            </div>
            <div class="chart_short">
                <div style="width: {{ ig_aud_usd_short }}px;">{{ ig_aud_usd_short }}%</div>
            </div>
        </div>
        
        <!-- DAILY FOREX ROW -->
        <div class="three columns">
            <h5>DAILY FOREX</h5>
            
            <!-- USD/JPY -->
            <div class="chart_long">
                <h6>USD/JPY</h6>
                <div style="width: {{ dy_usd_jpy_long }}px;">{{ dy_usd_jpy_long }}%</div>
            </div>
            <div class="chart_short">
                <div style="width: {{ dy_usd_jpy_short }}px;">{{ dy_usd_jpy_short }}%</div>
            </div>
            <br>
            <!-- EUR/USD -->
            <div class="chart_long">
                <h6>EUR/USD</h6>
                <div style="width: {{ dy_eur_usd_long }}px;">{{ dy_eur_usd_long }}%</div>
            </div>
            <div class="chart_short">
                <div style="width: {{ dy_eur_usd_short }}px;">{{ dy_eur_usd_short }}%</div>
            </div>
            <br>
            <!-- GBP/USD -->
            <div class="chart_long">
                <h6>GBP/USD</h6>
                <div style="width: {{ dy_gbp_usd_long }}px;">{{ dy_gbp_usd_long }}%</div>
            </div>
            <div class="chart_short">
                <div style="width: {{ dy_gbp_usd_short }}px;">{{ dy_gbp_usd_short }}%</div>
            </div>
            <br>
            <!-- AUD/USD -->
            <div class="chart_long">
                <h6>AUD/USD</h6>
                <div style="width: {{ dy_aud_usd_long }}px;">{{ dy_aud_usd_long }}%</div>
            </div>
            <div class="chart_short">
                <div style="width: {{ dy_aud_usd_short }}px;">{{ dy_aud_usd_short }}%</div>
            </div>

        </div>
    </div> <!-- END SENTIMENT -->
    <hr>    
</div>
{% endblock %}
